<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="application.tests.ContactUsPageTest"/>
      <class name="application.tests.LoginPageTests"/>
      <class name="application.tests.CartPageTests"/>
      <class name="application.tests.HomePageTests"/>
      <class name="application.tests.ProductsPageTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
